.home-body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.home-body > .left {
  width: 80vw;
  padding: 30px;
  overflow-y: scroll;
}

.home-body > .right {
  background: #064356;
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.home-body > .right > .top {
  flex-grow: 1;
}

.info {
  display: flex;
  height: 70px;
  padding: 10px;
  color: white;
}

.user-info {
  justify-content: center;
  align-items: center;
}

.user-info > .text {
  flex-grow: 1;
}

.user-info > .text > .name {
  font-size: 17px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;
}

.user-info > .text > .email {
  font-size: 13px;
}

.user-info > .avatar {
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

.team-info > .team {
  font-size: 150%;
}

.team-member-info {
  padding: 10px;
  margin-top: 20px;
  color: white;
}

.team-member-info > .title {
  font-size: 110%;
}

.team-member {
  display: flex;
  margin: 15px 0;
}

.team-member > .id {
  font-size: 20px;
  line-height: 20px;
  padding: 0 7px;
}

.team-member > * > .name {
  font-size: 130%;
}

.team-member > * > .email {
  opacity: 0.5;
}

.add-team:hover {
  cursor: pointer;
}

.add-team:hover > .id {
  color: #fcbc0b;
}

.add-team:hover > * > .name {
  color: #fcbc0b;
}

.title-hover:hover {
  color: #1f70bf;
  font-weight: bold;
}

.avatar-image {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.small-modal {
  width: 50vw !important;
}
