@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}

body {
  font-family: "Product Sans";
  margin: 0;
  padding: 0;
}

.ui.red.button {
  background: #ed553b !important;
  padding: 0 !important;
}

.ui.yellow.button {
  background: #ED961B !important;
}

.ui.green.button {
  background: #028154 !important;
}

.ui.blue.button {
  background: #173f5f !important;
}

.ui.teal.button {
  background: #20639b !important;
}
